<!DOCTYPE html>
<html lang="en">
<head th:insert="template.html :: header('Home')"> </head>
<body>
<header th:insert="template.html :: topmenu"></header>
<h1 class="align-center">My Book Store</h1>
<div class="container">
    <table class="styled-table">
        <thead>
        <tr>
            <th>No</th>
            <th>Tittle</th>
            <th>Description</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.description}"></td>
            <td th:switch="${book.genre.getValue}">
                <span th:case="Novel">Tiểu thuyết</span>
                <span th:case="Magazines">Tạp chí</span>
                <span th:case="Comic">Truyện tranh</span>
                <span th:case="Poem">Thơ ca</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>