<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<!--Nav bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">Car Dealer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/add}">
                        Add New Car
                    </a>
                </li>

            </ul>

            <form class="d-flex" action="#" method="get" th:action="@{/home}">
                <input class="form-control me-2" type="search" placeholder="Search any..." aria-label="Search"
                       name="keyword">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <form class="d-flex" action="#" method="get" th:action="@{/home}">
                <button class="btn btn-outline-success" type="submit" name="sortByPriceASC">Sort ASC</button>
                <button class="btn btn-outline-success" type="submit" name="sortByPriceDESC">Sort DESC</button>
            </form>
        </div>
    </div>
</nav>
<!--End of nav bar-->
<!--Table-->
<div class="container">
    <table class="styled-table">
        <thead>
        <tr>
            <th>Car Image</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Price</th>
            <th>Sales</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${cars}">
            <td class="image-container"><img th:src="${car.imgUrl}"/></td>

            <td th:text="${car.manufacturer}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.price}"></td>
            <td th:text="${car.sales}"></td>
            <!--Edit Car-->
            <td>
                <a th:href="@{/edit/{id}(id=${car.id})}">
                    <button type="button" class="btn btn-warning">
                        Edit
                    </button>
                </a>
            </td>
            <!--End of edit car-->
            <!-- Delete Car-->
            <td>
                <!-- Button -->
                <button type="button" data-toggle="modal" class="btn btn-danger"
                        th:attr="data-target='#deleteModal'+${car.id}">
                    Delete
                </button>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true" th:attr="id='deleteModal'+${car.id}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete comfirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this car?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <a th:href="@{/delete/{id}(id=${car.id})}">
                                    <button type="button" class="btn btn-primary">Yeah
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <!--End of delete car-->
        </tr>
        </tbody>
    </table>
</div>
<!--End of Table-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>