<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<header>
    <h1>My Book Store</h1>
</header>
<div class="container">
    <table class="styled-table">
        <thead>
        <tr>
            <th>No</th>
            <th>Tittle</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.description}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>